---
version: "2.1"
services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
#      - WATCHTOWER_NOTIFICATIONS=gotify
#      - WATCHTOWER_NOTIFICATION_GOTIFY_URL=http://192.168.90.7/
#      - WATCHTOWER_NOTIFICATION_GOTIFY_TOKEN=ApbwE1KE9aU1ACh
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_SCHEDULE=0 0 4 * * *
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped