---
version: "2.1"
services:
  ddclient:
    image: ghcr.io/linuxserver/ddclient
    container_name: ddclient
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=Europe/Amsterdam
    volumes:
      - /ddclient/config:/config
    restart: unless-stopped