---
version: "2.1"
services:
  wireguard:
    image: linuxserver/wireguard
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - SERVERURL=makstra.ddns.net
      - SERVERPORT=51820
      - PEERS=4
      - PEERDNS=192.168.178.3
      - INTERNAL_SUBNET=10.13.13.0
    volumes:
      - /wireguard/config:/config
      - /lib/modules:/lib/modules
    ports:
      - 51820:51820/udp
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped